// style overrides
.text-dark {
	color: #666 !important;
}
// layouts
.no-gutter [class*="col"] { 
	padding: 0; 
}
.block-center {
	@include block;
	margin: 0 auto;
}

// EFFECTS
.fade-in-all {
	position: fixed;
	width: 100%;
	height: 100%;
	background: black;
	z-index: 999999;
}
.overlay {
	@include ease(.5s);
	opacity: 0;
	position: absolute;
	width: 100%; height: 100%;
	background: transparent;
	z-index: $high;
	&:hover { opacity: 1; }
	&.overlay-dark { background: rgba(0,0,0,0.66); }
	&.overlay-light { background: rgba(255,250,250,0.66); }
}
.overlay-effect-in,
.section-effect-in {
	opacity: 0;
	visibility: hidden; 
}
.overlay-effect-in {
	@include ease(.5s);
}
.section-effect-in { 
	@include ease(1s);
	position: relative; 
}
.effect-blur {
	filter: blur(5px);
}
.section-effect-in.effect-up {
	top: 100px;
}
.overlay-effect-in.effect-up {
	margin-top: 50px;
}
.overlay:hover .overlay-effect-in.effect-up {
	margin-top: 0;
}
.section.active .section-effect-in.effect-up{
	top: 0;
}
.section.active .section-effect-in,
.overlay:hover .overlay-effect-in {
	opacity: 1;
	visibility: visible;
	filter: blur(0px);
}


// btns
.btn {
	@include ease(.25s);
	padding: 12px 30px;
	margin-top: 60px;
	text-align: center;
	display: block;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	border-radius: 0;
	&:hover {
		background: white;
	}
}

