
// ::::::::::: HEADINGS ::::::::::::::

.fullpage-header,
.secondary-header {
	width: 100%;
	height: 50px;
	top: 0; left: 0;
	background: rgba(0,0,0,0.9);
	position: absolute;
	z-index: 9999;
}
.nav-container { 
	position: relative;
	height: 100%;
}
.nav-fullpage,
.nav-page {
	@include center(false,true);
	right: 0;
	font-family: $secondary-font;
}


// ::::::::::: HOME CONTENT ::::::::::::::

.section {
	border: 1px solid red;
}


// ::::::::::: PAGE CONTENT ::::::::::::::